<footer>
    <p style="text-align: center;">小專題聲明</p>
    <div class="row" style="align-items: center;margin: 0 auto;margin-left:10%;">
        <div>
    <p class="footerset">所刊載的內容皆做為練習使用，不對外公開發佈</p>
    <p class="footerset">不得作任何片面，全面使用、拷貝、列印、轉載於任何媒體導致學員被創作者吉</p>
    <p class="footerset row" style="margin-left: 30%;margin-bottom:0;"><span style="margin:0;">隱私權聲明</span> 
        <span style="margin: 3px;margin-top:-1px;"> ｜</span>
        <span style="margin:0;">網站資訊使用聲明</span>
        <span style="margin: 3px;margin-top:-1px;"> ｜</span> 
        <span style="margin:0;"> 個資當事人行使權</span></p>
    <p class="footerset">建議使用瀏覽設備：我本人的MACBOOK</p>
    <p class="footerset">建議使用瀏覽器：Chrome</p>
</div>
<div class="footerset" style="margin-left: 10%;">
    <p style="margin:0;"> 聯絡地址：10622台北市大安區和平東路二段106號3樓</p>
   <p style="margin:0;"> TEL:02-6631-8161</p>
   <p style="margin:0;"> FAX:02-2735-0655</p>
</div>
</div>
</footer>