
<!--........................................-->

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: relative;">
    <!-- <a class="navbar-brand" href="#">福金＆霧尼</a> -->
    <div class="sidebarmenu">
      <span class="navbar-brand" onclick="openNav();">福金＆霧尼</span>
  </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">首頁<span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item"><a class="nav-link" href="/file/list">檔案下載</a></li> -->
        <li class="nav-item"><a class="nav-link" href="/about">關於我們</a></li>
        <li class="nav-item"><a class="nav-link" href="/contactus">聯絡我們</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            商品
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/product/mainproduct">所有商品</a>
            <a class="dropdown-item" href="/product/otherproduct">周邊商品</a>
            
        </li>
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a href="/shopcar" class="btn btn-outline-success my-2 my-sm-0">購物車</a>
      </form>
      <ul class="nav navbar-nav navbar-right">
      <li class="nav-item"><a class="nav-link" href="/account/login">登入｜註冊</a></li>
    </ul>
    </div>
  </nav>

  <div id="mySideBar" class="sideNav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="http://localhost:1214/">首頁</a>
    <a href="http://localhost:1214/about">關於我們</a>
    <a href="http://localhost:1214/product/mainproduct">商品</a>
    <a href="http://localhost:1214/contactus">聯絡我們</a>
</div>
  <!-- side bar end -->
