<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>專題簡介</title>
    <%- include('../../partials/styles') -%>
    <style>
table, thead, tbody, th, tr, td{
    border: solid 3px black;
    border-collapse: collapse;
}
tr{
    font-size: 20pt;
    font-weight: bolder;
    padding: 0;
    margin: 0;
}
td{
    margin: 0 auto;
    padding: 0;
    width: 30%;
}
img{
    margin: 0 auto;
    height: 90px;
    width: 180px;
}
th{
    text-align: center;
}
    </style>
</head>

<body>
    <img src="../../images/ex27.png" alt="" id="fadeimg" class="tab-pane fade in active" style="height:250px;position:fixed;"/>  
  <table style="margin: 0 auto;width:90%;height:100vh;align-items:center;">
      <thead>
          <tr>
              <th colspan="3"><a href="#fadeimg" data-toggle="tab" style="text-decoration: none;color:black">
                專題簡介</a></th>
          </tr>
<tr>
    <th style="text-align: center;">基本資訊</th>
    <th style="text-align: center;">名稱</th>
    <th style="text-align: center;">LOGO</th>
</tr>
      </thead>
      <tbody>
<tr>
    <td>主題</td>
    <td>ＮＦＴ線上商店</td>
    <td><img src="../../images/ex19.jpeg"></td>
</tr>
<tr>
    <td>執行環境</td>
    <td>Node.js</td>
    <td><img src="../../images/ex20.png"></td>
</tr>
<tr>
    <td>框架＆模板</td>
    <td>Express&ejs</td>
    <td><img src="../../images/ex21.jpeg"></td>
</tr>
<tr>
    <td>資料庫</td>
    <td>MongoDB</td>
    <td><img src="../../images/ex22.jpeg"></td>
</tr>
<tr>
    <td>前端框架</td>
    <td>Bootstrap 4</td>
    <td><img src="../../images/ex23.jpeg"></td>
</tr>
<tr>  
    <td colspan="3">
        <a href="http://localhost:1214/" class="btn btn-primary" style="align-items: center;margin:0 auto;">GO</a>
    </td>
</tr>
      </tbody>
  </table>

      
    <%- include('../../partials/scripts') -%>
</body>

</html>
