<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <%- include('../partials/head') -%>
    <%- include('../partials/styles') -%>
</head>
<body>
    <%- include('../partials/navbar') -%>
    <h1>ERROR</h1>
    <%- include('../partials/scripts') -%>
</body>
</html>