div {
    font-size: larger;
}
*{
    padding: 0%;
    margin: 0%;
}
body{
    /* background-color: rgb(126,137,102); */
    background-image: url("/images/backgroundg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    /* backdrop-filter: blur(5px); */
    height: 100vh auto;
    width: 100%;
    /* filter: blur(8px);
    -webkit-filter: blur(8px);*/ 
}

h1{
    margin: 3% auto;
    text-align: center;
    font-family: serif;
    font-weight: bolder;
    font-size: 60px;
    color:black;
}

img[alt="Card image"]{
    width:100%;
    height:15rem;
    
}

div.card.mb-3.d-inline-block{
    margin:0 auto; 
    width: 30%; 
    margin-left: 2%;
    margin-top: 2%;
}

div.card{
    margin:50px;
}

img{
    width: 90px;
}

td{
    text-align: center;
}

label{
    color:black;
}


/*----------------*/
table{
    background-color: whitesmoke;
}

.ssideNav{
    background-color: whitesmoke;
    
}

.popup{
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.popup .popuptext{
    visibility: hidden;
    width: 200px;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup .popuptext::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show{
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation:fadeIn 1s;
}

@-webkit-keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}

.whiteback{
    background-color: whitesmoke;
    border: 3px solid black;
    border-radius:30px;
    width: 90%;
    font-family: serif;
    /* transform: rotate(2deg); */
    /* transform: rotate(-2deg); */
}

footer{
    background-color: rgb(84,97,74);
    color: whitesmoke;
}

footer .footerset{
    font-size:5pt;
    margin:0;
    margin-left: 30%;
}

footer div .row{
    margin:5px;
}

.sidebarmenu{
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding: 0 0 0 2px;
}

.sidebarmenu.active{
    background: antiquewhite;
}
.sideNav{
    height: 100vh;
    width: 0;
    position: absolute;
    z-index: 2;
    top: 60px;
    left: 0;
    background-color: rgb(34,37,41);
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 60px;
    text-align: center;
    padding-top: 0;
}
.sideNav a{
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: whitesmoke;
    display: block;
    transition: 0.3s;
}
.sideNav a:hover{
    color: blueviolet;
}