<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <%- include('../../partials/head') -%>
    <%- include('../../partials/styles') -%>
</head>

<body>
  <%- include('../../partials/navbar') -%>

    <!-- 資料連接範本 -->
    <div style="padding: 10px;">
      
      <div class="tab-content">
        <!--<div id="query" class="tab-pane fade in active" style="color: whitesmoke;">
           <button id="QueryProducts" onclick="queryProducts()">查詢</button>
          <label for="insertTitle">查詢Title</label> 
          <input id="qtitle" class="form-control" style="width:40%;"/>
          <button id="QueryProducts" onclick="queryTitles()">查詢TITLE</button>
      </div>-->
        
        <div id="insert" class="tab-pane fade">
          <div class="container">
            <div class="form-group">
              <label for="insertTitle" style="margin: 10px;">Title:
              <input id="insertTitle" class="form-control" style="width:190px;"/></label>
              <label for="insertPrice" style="margin: 10px;">Price:
              <input id="insertPrice" class="form-control" style="width:190px;"/></label>
              <label for="insertQuantity" style="margin: 10px;">Quantity:
                <input id="insertQuantity" class="form-control" style="width:190px;"/></label>
            </div>
            <button id="insertProduct" onclick="insertProduct()">新增</button>
          </div>
        </div>
        <div id="update" class="tab-pane fade" style="background-color: whitesmoke;">
          <div class="container">
            <div class="form-group">
              <label for="updateTitle" style="margin: 10px;">Title
              <input id="updateTitle" class="form-control" style="width:190px;"/></label>
              <label for="updatePrice" style="margin: 10px;">Price
              <input id="updatePrice" class="form-control" style="width:190px;"/></label>
              <label for="updateQuantity" style="margin: 10px;">Quantity
              <input id="updateQuantity" class="form-control"  style="width:190px;"/></label>
            </div>
            <button onclick="updateProducts()">修改</button>
          </div>
        </div>
        <div id="delete" class="tab-pane fade" style="background-color: whitesmoke;">
          <div class="container">
            <div class="form-group">
              <label for="deleteTitle">Title</label>
              <input id="deleteTitle" class="form-control" style="width:40%;"/>
            </div>
            <button onclick="deleteProducts()">刪除</button>
          </div>
        </div>
        
      </div>
    </div>

    <!-- <div id="check" class="tab-pane fade" style="background-color: whitesmoke;">
      <table>
        <thead>
          <tr>
            <th>明細</th>
            <th>金額</th>
          </tr>
        </thead>
        
        <tbody>

        </tbody>
      </table> -->

    </div>
    <!-- ------------------ -->
    <div style="margin: 0 auto;margin-left:20px;margin-right:20px;">
      <div class="row">
        <div class="col-10">
          <table class="table table-hover">
            <thead>
              <tr style="text-align:center;">
                <th> 編號</th>
                <th> 商品名稱</th>
                <th> 定價</th>
                <th> 數量</th>
              </tr>
            </thead>
            <tbody id="tbody">
              <tr>
                <td id="pindex" placeholder="number"></td>
                <td id="pTitle" placeholder="title"></td>
                <td id="pPrice" placeholder="$$"></td>
                <td id="pQuantity" placeholder="number"></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-2">
          <div id="mySideBar" class="ssideNav">
            <ul>
            <!-- <li><a href="#query" data-toggle="tab">查詢</a></li> -->
            <!-- <li><a href="#insert" data-toggle="tab">新增</a></li> -->
            <li><a href="#update" data-toggle="tab">修改</a></li>
            <li><a href="#delete" data-toggle="tab">刪除</a></li>
             <li><a href="/product/mainproduct">繼續購物</a></li>
             <li><a href="#check" data-toggle="tab">結帳</a></li>
            </ul>
          <!--  <ul class="active nav navbar navbar-expand-lg navbar-light bg-light" style="width: 82%;margin:0 auto;">
              <li role="presentation" class="active"><a href="#query" data-toggle="tab">查詢</a></li>
              <li role="presentation"><a href="#insert" data-toggle="tab">新增</a></li>
              <li role="presentation"><a href="#update" data-toggle="tab">修改</a></li>
              <li role="presentation"><a href="#delete" data-toggle="tab">刪除</a></li>
              <li style="margin-left:78%;"><a href="/product/mainproduct">繼續購物</a></li>
          </ul> -->
          </div>
        </div>

      </div>
    </div>
    </div>
    <%- include('../../partials/scripts') -%>
    <script>
      function queryProducts(){
        $.ajax({
          url:"http://localhost:1214/shopcar/bill",
          type:"GET"
        }).done(function(data){
          var str="";
          var index=0;
          for(var i=0;i<data.length;i++){
            index+=1;
            str+='<tr>';
            str+='<td>'+index+'</td>';
            str+='<td>'+data[i].title+'</td>';
            str+='<td>'+data[i].price+'</td>';
            str+='<td>'+data[i].quantity+'</td>';
            str+='<td><a href="javascript:deleteProducts()">'+'delete</a></td>';
            str+='<tr>';
            $("#tbody").html(str);
          }
        }).fail(function(error){
          alert(error);
        });
      }

      function queryTitles(){
        $.ajax({
          url:"http://localhost:1214/shopcar/bill/"+$("#qtitle").val(),
          type:"GET"
        }).done(function(product){
          alert(JSON.stringify(product));
        }).fail(function(error){
          alert(error);
        });
      }

      function insertProduct() {
            var productInsert={
                title:$("#insertTitle").val(),
                price:$("#insertPrice").val(),
                quantity:$("#insertQuantity").val()
            };
            $.ajax({
                type: "POST",
                url: "http://localhost:1214/shopcar/bill",
                data: productInsert
            }).done(function (data) {
                alert("Insert successed");
                alert(JSON.stringify(data));
            }).fail(function (error) {
                alert(error.responseText);
            });
            queryProducts();
        }
      


      function updateProducts(){
        var updateproduct={
          title:$("#updateTitle").val(),
          price:$("#updatePrice").val(),
          quantity:$("#updateQuantity").val()
        }
        $.ajax({
          type:"PUT",
          url:"http://localhost:1214/shopcar/bill",
          data:updateproduct
        }).done(function(data){
          alert("successed update")
        }).fail(function(error){
          alert(JSON.stringify(error));
        });
        queryProducts();
      }

      function deleteProducts(data){
        $.ajax({
          type:"DELETE",
          url:"http://localhost:1214/shopcar/bill/"+$("#deleteTitle").val()
          //url:"http://localhost:1214/shopcar/bill/"+data[i].title
        }).done(function(){
          alert("delete successed")
        }).fail(function(error){
          alert(JSON.stringify(error))
        });
        queryProducts();
      }


      document.getElementById("tbody").innerHTML=window.queryProducts();
    </script>
</body>

</html>