
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    
    <div class="sidebarmenu textcenter">
      <span class="navbar-brand">福金＆霧尼 後台控制端</span>
    </div>

      <ul class="nav navbar-nav navbar-right">
      <li class="nav-item"><a class="nav-link" href="/account">登入｜註冊</a></li>
    </ul>


    <div class="border-end bg-white" id="admin-sidebar-wrapper">
      <div class="p-3 sidebar-heading border-bottom bg-light">選單</div>
      <div class="list-group list-group-flush">
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin">員工管理</a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin/memberctl">會員管理</a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin/productctl">商品管理</a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#OrderCtrl">訂單管理</a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">登出</a>
      </div>
    </div>    
  </nav>
